html,
body {
    scroll-behavior: smooth;
}
section {
    min-height: 100vh;
    margin-bottom: 30px;
    padding-top: 64px;
}
#header {
    background: url("../images/backgroundnew.jpg");
    background-size: cover;
    background-position: bottom;
}
/* Floating Sidebar */
.floating-sidebar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-radius: 8px 0 0 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
}
/* Maps symbol */
#maps-symbol {
    font-size: 50px;
}
